.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user
        Contact Persons
    .box-content
      %table.table.table-striped.table-bordered.bootstrap-datatable.datatable
        %thead
          %tr
            %th Name
            %th Address1
            %th Phone1
            %th Website
            %th Email
            %th Role
            %th Username
            %th Password Hint
            %th Actions
        - @contact_people.each do |contact_person|
          %tbody
            %tr
              %td= conatact_person.name
              %td.center= "#{contact_person.address1} "+ "#{contact_person.city} "+ "#{contact_person.state} "+ "#{contact_person.zipcode}"
              %td.center= contact_person.phone1
              %td.center= contact_person.website
              %td.center= contact_person.email
              %td.center= contact_person.role
              %td.center= contact_person.username
              %td.center= contact_person.passwordhint
              %td.center
                = link_to 'Show', contact_person, :class => "btn btn-success"
                = link_to 'Edit', edit_contact_person_path(contact_person), :class => "btn btn-info"
                = link_to 'Delete', contact_person, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger"
  / /span
/ /row