%p#notice= notice

%p
  %b Name:
  = @contact_person.name
%p
  %b Address1:
  = @contact_person.address1
%p
  %b Address2:
  = @contact_person.address2
%p
  %b City:
  = @contact_person.city
%p
  %b State:
  = @contact_person.state
%p
  %b Zipcode:
  = @contact_person.zipcode
%p
  %b Phone1:
  = @contact_person.phone1
%p
  %b Phone2:
  = @contact_person.phone2
%p
  %b Website:
  = @contact_person.website
%p
  %b Email:
  = @contact_person.email
%p
  %b Role:
  = @contact_person.role
%p
  %b Username:
  = @contact_person.username
%p
  %b Passwordhint:
  = @contact_person.passwordhint

