  <!-- wrapper -->
  <div class="wrapper">
    <!-- header -->
    <header class="header">
      <div class="shell">
        <div class="header-top">
          <h1 id="logo">
          <div id="company_logo" class="aleft">
              <% if SystemConfig.last.present? && !SystemConfig.last.logo.url.empty? %>
                  <%= image_tag SystemConfig.last.logo.url, {:class => "logo", :size => "227x60"} %>
              <% else %>
                  <%= image_tag "logo1.png", {:class => "logo"} %>
              <% end %> 
              <div id="company_name">
                  <% if SystemConfig.last.present? && !SystemConfig.last.companyname.empty? %>
                    Powered By <%== SystemConfig.last.companyname%>
                  <% else %>
                    Powered By VLTS
                  <%end%>
              </div>
            </div>
          </h1>
          <nav id="navigation">
            <a href="#" class="nav-btn">Home<span></span></a>
            <ul>
              <li><a href=<%=root_url%>>Home</a></li>
              <li><a href="/home/about">About Us</a></li>
              <li class="active home"><a href="/messages/new">Contact Us</a></li>
              <li><a href="/users/sign_in">Login</a></li>
            </ul>
          </nav>
          <div class="cl">&nbsp;</div>
        </div>
      </div>
    </header>


    <!-- end of header -->
    <!-- shell -->
    <div class="shell">
      <!-- main -->
      <div class="main">
        <!-- end of cols -->
        <section class="post">
          <%= form_for @message, :url => messages_path, :method => :post do |f| %>
            <div class="field allign">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, :class => "size2" %>
            </div>
            <div class="field allign">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, :class => "size2" %>
            </div>
            <div class="clear"></div>
            <div class="field allign">
              <%= f.label :phone %><br />
              <%= f.text_field :phone, :class => "size2" %>
            </div>
            <div class="field allign">
              <%= f.label :email %><br />
              <%= f.text_field :email, :class => "size2" %>
            </div>
            <div class="clear"></div>
            <div class="field allign">
              <%= f.label :content, "Message" %><br />
              <%= f.text_area :content, :rows => 5, :class => "size3" %>
            </div>
            <div class="clear"></div>
            <div class="actions "><%= image_submit_tag("submit_btn.png") %></div>
          <% end %>

        </section>

        <section class="content">
          <h2>WHO WE ARE</h2>
          <p>Maecenas vel est sit amet massa dignissim <span>hendrerit</span> sit amet ac ante. Praesent dapibus neque vel enim adipiscing vel feugiat leo luctus. Nulla semper varius nulla, eu euismod turpis volutpat in. Nullam neque diam, facilisis vitae suscipit eu, gravida ut tortor. Duis faucibus lectus nec metus elementum ac <a href="#">adipiscing</a> lorem consectetur. Nulla dui ipsum, <em>iaculis a mollis vel</em>, sodales a ipsum. Nam tincidunt consequat lacus eget imperdiet. Nullam posuere convallis libero, vitae lobortis libero fermentum eu. Ut id venenatis lectus. <strong>Donec eget</strong> quam et dolor facilisis commodo nullam tempor aliquet vulputate phasellus ac libero sed justo luctus vehicula.<br /> <a href="#" class="more">meet the team</a></p>
        </section>

      <!-- end of main -->
    </div>
    <!-- end of shell --> 
    <!-- footer -->
    <div id="footer">
      <!-- shell -->
      <div class="shell">
        <!-- footer-cols -->
        <div class="footer-cols">
          <div class="col">
            <h2>Heading1</h2>
            <ul>
              <li><a href="#">Nullam euismod quam vel</a></li>
              <li><a href="#">Quisque nec lacuss volutpat</a></li>
              <li><a href="#">Aenean bibendum lacus varius </a></li>
              <li><a href="#">Pellentesque sed nulla nec </a></li>
              <li><a href="#">Donec a velit nisi, ac dignissim</a></li>
            </ul>
          </div>

          <div class="col">
            <h2>Heading2</h2>
            <ul>
              <li><a href="#">Quisque nec lacuss volutpat</a></li>
              <li><a href="#">Aenean bibendum lacus varius </a></li>
              <li><a href="#">Nullam euismod quam vel</a></li>
              <li><a href="#">Pellentesque sed nulla nec </a></li>
              <li><a href="#">Donec a velit nisi, ac dignissim </a></li>
            </ul>
          </div>

          <div class="col">
          </div>

          <div class="col">
            <h2>CONTACT us</h2>

            <p>Email: <a href="#">info@websitename.com</a></p>
            <p>Phone: 655-606-605</p>
            <p>Address: East Pixel Bld. 99, </p>
            <p>Template City, 9000</p>
          </div>
          <div class="cl">&nbsp;</div>
        </div>
        <!-- end of footer-cols -->
      </div>
      <!-- end of shell -->
    <div class = "copytext">
    <% if SystemConfig.last.present? && !SystemConfig.last.copytext.empty? %>
    &copy; <%== SystemConfig.last.copytext.to_s %>
    <% else %>
    &copy; This is a copyright text
    <% end %>
  </div>  
    </div>
    <!-- footer -->
  </div>
  <!-- end of wrapper --> 

  <style>
  </style>

<script>
  var validator = new FormValidator('new_message', [{
    name: 'message[email]',
    rules: 'required'
  },{
    name: 'message[first_name]',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
      for (var i=0; i<errors.length; i++){
        temp = errors[i].id;
        $("#" + temp).css("border","1px solid red");
      }
    }  
  });
</script>

<style>
  
.size{
  width:100px;
  height:25px;
}

.size2{
  border: 1px solid black;
  height:25px;
}

.allign{
  display: inline-block;
  float:left;
  padding-right: 100px;
  padding-top: 15px;
}

.clear
{
  clear:both;
}

label{
  color: black;
  font-size: 15px;
}

.field input { font-size: 18px; }
.size3{
  width:280px;
  height:100px; 
}

textarea{
  font-size: 18px;
}

form{
  padding-left: 100px;
}

.actions{
  margin-top: 10px; 
}
</style>
