= form_for @plaza do |f|
  - if @plaza.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plaza.errors.count, "error")} prohibited this plaza from being saved:"
      %ul
        - @plaza.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :customer
    = f.collection_select :customer_id, Customer.all, :id, :name 
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :latitude
    = f.text_field :latitude, {:class => "size"}
  .field
    = f.label :longitude
    = f.text_field :longitude, {:class => "size"}
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Create Plaza', {:class => "button1"}

:javascript
  var validator = new FormValidator('new_plaza', [{
    name: 'plaza[name]',
    display: 'required',    
    rules: 'required'
  }, {
    name: 'plaza[description]',
    rules: 'required'
  }, {
    name: 'plaza[latitude]',
    rules: 'required'
  }, {
    name: 'plaza[location]',
    rules: 'required'
  }, {
    name: 'plaza[longitude]',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var colour;
    for (var i=0; i< errors.length; i++)
    {
      colour = errors[i].id;
      $("#"+colour).css("border","2px solid red");
    }
    }  
  });
