= form_for @organization_contact do |f|
  - if @organization_contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@organization_contact.errors.count, "error")} prohibited this organization_contact from being saved:"
      %ul
        - @organization_contact.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :middle_name
    = f.text_field :middle_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :Company_Name
    = f.collection_select(:organization_id, Organization.all, :id, :company_name)  
  .field
    = f.label :designation
    = f.text_field :designation
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :cell
    = f.text_field :cell
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Create Contacts', {:class => "button1"}

:javascript
  var validator = new FormValidator('new_organization_contact', [{
    name: 'organization_contact[first_name]',    
    rules: 'required'
  }, {
    name: 'organization_contact[middle_name]',
    rules: 'required'
  }, {
    name: 'organization_contact[last_name]',
    rules: 'required'
  }, {
    name: 'organization_contact[designation]',
    rules: 'required'
  }, {
    name: 'organization_contact[phone]',
    rules: 'required'
  }, {
    name: 'organization_contact[cell]',
    rules: 'required'
  }, {
    name: 'organization_contact[email]',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","2px solid red");
    }
    }  
  });  