= form_for @organization_contact do |f|
  - if @organization_contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@organization_contact.errors.count, "error")} prohibited this organization_contact from being saved:"
      %ul
        - @organization_contact.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name, {:class => 'required'}
    = f.text_field :first_name, {:class => 'required'}
  .field
    = f.label :middle_name
    = f.text_field :middle_name
  .field
    = f.label :last_name, {:class => 'required'}
    = f.text_field :last_name
  .field
    = f.label :Company_Name, {:class => 'required'}
    -if current_user.role == "customer"
      = f.collection_select(:organization_id, Organization.where(:user_id => "#{current_user.id}"), :id, :company_name,{ :include_blank => true })
    -else
      = f.collection_select(:organization_id, Organization.where(:user_id => "#{current_user.id}") + Organization.where(:user_id => "#{current_user.parent_id}"), :id, :company_name, { :include_blank => true })   
  .field
    = f.label :designation, {:class => 'required'}
    = f.text_field :designation
  .field
    = f.label :phone, {:class => 'required'}
    = f.text_field :phone
  .field
    = f.label :cell, {:class => 'required'}
    = f.text_field :cell
  .field
    = f.label :email, {:class => 'required'}
    = f.text_field :email
  .actions
    = f.submit 'Create Contacts', {:class => "button1"}

:javascript
  var validator = new FormValidator('new_organization_contact', [{
    name: 'organization_contact[first_name]',    
    rules: 'required'
  }, {
    name: 'organization_contact[last_name]',
    rules: 'required'
  },{
    name: 'organization_contact[organization_id]',
    rules: 'required'
  }, {
    name: 'organization_contact[designation]',
    rules: 'required'
  }, {
    name: 'organization_contact[phone]',
    rules: 'required'
  }, {
    name: 'organization_contact[cell]',
    rules: 'required'
  }, {
    name: 'organization_contact[email]',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","2px solid red");
    }
    }  
  });  