= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :middle_name
    = f.text_field :middle_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :cell
    = f.text_field :cell 
  .actions
    = f.submit 'Update Support Staff', {:class => "button1"}

:javascript
  var validator = new FormValidator('new_user', [{
    name: 'user[first_name]',    
    rules: 'required'
  }, {
    name: 'user[middle_name]',
    rules: 'required'
  }, {
    name: 'user[last_name]',
    rules: 'required'
  }, {
    name: 'user[phone]',
    rules: 'required'
  }, {
    name: 'user[cell]',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","2px solid red");
    }
    }  
  });