= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name, {:class => 'required'}
    = f.text_field :first_name
  .field
    = f.label :middle_name
    = f.text_field :middle_name
  .field
    = f.label :last_name, {:class => 'required'}
    = f.text_field :last_name
  .field
    = f.label :phone, {:class => 'required'}
    = f.text_field :phone
  .field
    = f.label :cell, {:class => 'required'}
    = f.text_field :cell 
  .actions
    -if params[:param]=="1"    
      = f.submit 'Save', {:class => "button1"}
    -elsif params[:param]=="2"   
      = f.submit 'Save', {:class => "button1"}   
    -elsif params[:param]=="3"
      = f.submit 'Save', {:class => "button1"}
    -else         
      = f.submit 'Save', {:class => "button1"}

:javascript
  var validator = new FormValidator('edit_user_#{@user.id.to_s}', [{
    name: 'user[first_name]',
    display:'First Name',    
    rules: 'required'
  }, {
    name: 'user[last_name]',
    display:'Last Name',
    rules: 'required'
  }, {
    name: 'user[phone]',
    display:'Phone',
    rules: 'numeric|required'
  }, {
    name: 'user[cell]',
    display:'Cell',
    rules: 'numeric|required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","1px solid red");
    }
    temp = errors[0].id;
    $( "#" + temp).focus();
    }  
  });