= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name, {:class => 'required'}
    = f.text_field :first_name
  .field
    = f.label :middle_name
    = f.text_field :middle_name
  .field
    = f.label :last_name, {:class => 'required'}
    = f.text_field :last_name
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :cell
    = f.text_field :cell 
  .field
    = f.label :passwordhint
    = f.text_field :passwordhint  
  .actions
    = f.submit 'Save', {:class => "button1"}

:javascript
  jQuery(function($){
      $("#user_phone").mask("999-999-9999");
      $("#user_cell").mask("999-999-9999");
    });
  var validator = new FormValidator('edit_user_#{@user.id.to_s}', [{
    name: 'user[first_name]',
    display:'First Name',    
    rules: 'required'
  }, {
    name: 'user[last_name]',
    display:'Last Name',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    $(":text").each(function(){
        $(this).css("border","#cccccc 1px solid");      
      });
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","1px solid red");
    }
    temp = errors[0].id;
    $( "#" + temp).focus();
    }  
  });

  validator.registerCallback('check_phone', function(value) {
      var phoneno = /^(\()?\d{3}(\))?(-|\s)?\d{3}(-|\s)\d{4}$/;  
      if( !value.match(phoneno) ) {
        return false;
      } else {
        return true;
      }
    })
    .setMessage('check_phone', 'Please enter number according to format');

    validator.registerCallback('check_mobile', function(value) {
      var mobileno = /^(\()?\d{3}(\))?(-|\s)?\d{3}(-|\s)\d{4}$/;  
      if( !value.match(mobileno) ) {
        return false;
      } else {
        return true;
      }
    })
    .setMessage('check_mobile', 'Please enter number according to format');