= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :first_name, {:class => 'required'}
    = f.text_field :first_name
  .field
    = f.label :middle_name
    = f.text_field :middle_name
  .field
    = f.label :last_name, {:class => 'required'}
    = f.text_field :last_name
  .field
    = f.label :phone, {:class => 'required'}
    = f.text_field :phone
  .field
    = f.label :cell, {:class => 'required'}
    = f.text_field :cell
  .field
    = f.label :email, {:class => 'required'}
    = f.text_field :email
  .field
    = f.label :password, {:class => 'required'}
    = f.password_field :password
  .field
    = f.label :passwordhint
    = f.text_field :passwordhint
    -if params[:param]=="1"    
      = f.hidden_field :role, :value => "supervisor"
    -elsif params[:param]=="2"   
      = f.hidden_field :role, :value => "user"
    -else    
      = f.hidden_field :role, :value => "support"    
  .actions
    -if params[:param]=="1"    
      = f.submit 'Add Supervisor', {:class => "button1"}
    -elsif params[:param]=="2"   
      = f.submit 'Add User', {:class => "button1"}   
    -else         
      = f.submit 'Add Support Staff', {:class => "button1"}
    

:javascript
  var validator = new FormValidator('new_user', [{
    name: 'user[first_name]',    
    rules: 'required'
  }, {
    name: 'user[last_name]',
    rules: 'required'
  }, {
    name: 'user[phone]',
    rules: 'required'
  }, {
    name: 'user[cell]',
    rules: 'required'
  }, {
    name: 'user[email]',
    rules: 'required'
  }, {
    name: 'user[password]',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","2px solid red");
    }
    }  
  });