.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        System Configurations
    .box-content   
      = render ("layouts/breadcrumbs") 
      = form_for @system_config, :url => change_create_users_path, :html => { :multipart => true } do |f|
        
        .field
          = f.label :company_logo
          = f.file_field :logo
        .clear
        .field
          = f.label :system_name
          = f.text_field :systemname
        .field
          = f.label :company_name
          = f.text_field :companyname
        .field
          = f.label :copyright_text
          = f.text_area :copytext
        .actions  
          = f.submit "Add Configurations", {:class => "button1"}   

.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        Customer Configurations
    .box-content    
      = form_for @user_config, :url => config_create_users_path, :html => { :multipart => true } do |f|
        
        .field
          = f.label :Customer, {:class => "required"}
          -if current_user.role == "admin"
            = f.collection_select(:user_id, Customer.all, :id, :company_name, { :include_blank => true })
          -else
            = f.collection_select(:user_id, Customer.where(:user_id => "#{current_user.id}") + Customer.where(:user_id => "#{current_user.parent.id}"), :id, :company_name, { :include_blank => true })      
        .field
          = f.label :floor_capacity
          = f.text_field :floorcapacity
        .field
          = f.label :vehicle_capacity
          = f.text_field :vehiclecapacity
        .field
          = f.label :user_capacity
          = f.text_field :usercapacity
        .actions  
          = f.submit "Add Configurations", {:class => "button1"}

:javascript
  var validator = new FormValidator('new_configuration', [{
    name: 'configuration[user_id]',    
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","2px solid red");
    }
    }  
  });

