#content.span10
  .sortable.row-fluid
    -if current_user.role == "admin"
      %a.well.span3.top-block
        %span.icon32.icon-red.icon-user
        %div Support Staff
        %div
          = User.where(:role => "support", :delflag => "false").count
      %a.well.span3.top-block
        %span.icon32.icon-red.icon-user
        %div Customers
        %div
          = Customer.where(:delflag => "false").count    
    -if (current_user.role == "support")      
      %a.well.span3.top-block
        %span.icon32.icon-red.icon-user
        %div Customers
        %div
          = Customer.where(:user_id => "#{current_user.id}", :delflag => "false").count
    -if (current_user.role == "customer")      
      %a.well.span3.top-block
        %span.icon32.icon-red.icon-user
        %div Supervisors
        %div
          = User.where(:role => "supervisor", :parent_id => "#{current_user.id}", :delflag => "false").count 
      %a.well.span3.top-block
        %span.icon32.icon-red.icon-user
        %div Users
        %div
          - user_count = User.where(:role => "user", :delflag => "false", :parent_id => "#{current_user.id}").count
          - @children = current_user.children
          - @children.each do |child|
            - user_count = user_count + User.where(:delflag => "false", :parent_id => child.id).count
          = user_count

    .row-fluid
      .box.span12
        .box-header.well
          %h2
            %i.icon-user.icon-white
            -if current_user.role == "admin"
              Welcome Admin
            -elsif current_user.role == "support"
              Welcome Support Staff
            -elsif current_user.role == "customer"
              = "Welcome " + "#{Customer.find(current_user.customer_id).company_name.capitalize} " + "administrator"
            -elsif current_user.role == "supervisor"
              Welcome Supervisor 
            -elsif current_user.role == "user"
              = "Welcome " + "#{current_user.first_name.capitalize}"        
          .box-icon

        .box-content
          %h1
            VLTS
            %small A smart way to handle and track your vehicles
          .clearfix