#change_password.row-fluid.sortable{:style =>"min-height:435px;"}
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        Change Password
    .box-content
      = render ("layouts/breadcrumbs")
      = form_for @user, :url => change_user_path(@user) do |f| 
        .field
          = f.label :current_password, "Current pasword", {:class => 'required'}
          = f.password_field :currently_password 
          -if current_user.passwordhint.present?
            Your password hint is "#{current_user.passwordhint}"
        .field  
          = f.label :password, "New password", {:class => 'required'}
          = f.password_field :password 
        .field  
          = f.label :password_confirmation, "Confirm pasword", {:class => 'required'}
          = f.password_field :password_confirmation 
          = f.hidden_field :pass_change, :value => true
        .action  
          = f.submit "Change my password", {:class => "button1"}
-if current_user.pass_change == false && current_user.role !="admin"       
  :css
    #change_password{
      margin-left:125px;
    }
:javascript
  var validator = new FormValidator('edit_user_#{current_user.id.to_s}', [{
    name: 'user[currently_password]',
    display:'Current Password',    
    rules: 'required'
  }, {
    name: 'user[password]',
    display:'Password',
    rules: 'required'
  }, {
    name: 'user[password_confirmation]',
    display:'Password Confirmation',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    $(":text").each(function(){
        $(this).css("border","#cccccc 1px solid");      
      });
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","1px solid red");
    }
    temp = errors[0].id;
    $( "#" + temp).focus();
    }  
  });    