.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        Change Password
    .box-content
      = form_for @user, :url => change_user_path(@user) do |f| 
        .field
          = f.label :current_password, "Current pasword" 
          = f.password_field :currently_password
        .field  
          = f.label :password, "New password" 
          = f.password_field :password 
        .field  
          = f.label :password_confirmation, "Confirm pasword" 
          = f.password_field :password_confirmation 
        .action  
          = f.submit "Change my password", {:class => "button1"}
