.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        Reset Password
    .box-content
      = render ("layouts/breadcrumbs")
      = form_for @user, :url => reset1_user_path(@user) do |f| 
        .field
          = f.label :try, "Email", {:class => 'required'}
          = f.email_field :try
        .field  
          = f.label :password, "New password", {:class => 'required'}
          = f.password_field :password 
        .field  
          = f.label :password_confirmation, "Confirm pasword", {:class => 'required'}
          = f.password_field :password_confirmation 
          = f.hidden_field :pass_change, :value => false
        .action  
          = f.submit "Change password", {:class => "button1"}
:javascript
  var validator = new FormValidator('edit_user_1', [{
    name: 'user[try]',
    display:'Current Password',    
    rules: 'required'
  }, {
    name: 'user[password]',
    display:'Password',
    rules: 'required'
  }, {
    name: 'user[password_confirmation]',
    display:'Password Confirmation',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    $(":text").each(function(){
        $(this).css("border","#cccccc 1px solid");      
      });
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","1px solid red");
    }
    temp = errors[0].id;
    $( "#" + temp).focus();
    }  
  });    