	<!-- wrapper -->
	<div class="wrapper">
		<!-- header -->
		<header class="header">
			<div class="shell">
				<div class="header-top">
					<h1 id="logo">
					<div id="company_logo" class="aleft">
    					<% if SystemConfig.last.present? && !SystemConfig.last.logo.url.empty? %>
      						<%= image_tag SystemConfig.last.logo.url, {:class => "logo", :size => "227x60"} %>
    					<% else %>
      						<%= image_tag "logo1.png", {:class => "logo"} %>
    					<% end %> 
    					<div id="company_name">
      						<% if SystemConfig.last.present? && !SystemConfig.last.companyname.empty? %>
        						Powered By <%== SystemConfig.last.companyname%>
      						<% else %>
        						Powered By VLTS
        					<%end%>
    					</div>
  					</div>
  				</h1>
					<nav id="navigation">
						<a href="#" class="nav-btn">Home<span></span></a>
						<ul>
							<li class="active home"><a href="#">Home</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="/users/sign_in">Login</a></li>
						</ul>
					</nav>
					<div class="cl">&nbsp;</div>
				</div>
				<div class="slider">
					<div id="bg"></div>
					<div id="carousel">
						<div>
							<h5>It all starts with a</h5>
							<h3>Great Vision</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis quam dignissim consectetur ac sit amet nisl. In hac habitasse platea. Eget augue quis quam dignissi lorem lipsum adispicing dolor sit amet.</p>
							<a href="#" class="green-btn">FREE Quote</a>
							<%= image_tag "front-img.png", :class => "img-front", :width => "263", :height => "436"%>
							<%= image_tag "img-mid.png", :class => "img-mid", :width => "230", :height => "363"%>
							<%= image_tag "img-back.png", :class => "img-back", :width => "195", :height => "304"%>	
						</div>

						<div>
							<h5>It all starts with a</h5>
							<h3>Great Vision</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis quam dignissim consectetur ac sit amet nisl. In hac habitasse platea. Eget augue quis quam dignissi lorem lipsum adispicing dolor sit amet.</p>
							<a href="#" class="green-btn">FREE Quote</a>
							<%= image_tag "ban1.png", :class => "img-front", :width => "441", :height => "379"%>	
						</div>

						<div>
							<h5>Vehicle Location Tracking System</h5>
							<h3>VLTS</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis quam dignissim consectetur ac sit amet nisl. In hac habitasse platea. Eget augue quis quam dignissi lorem lipsum adispicing dolor sit amet.</p>
							<a href="#" class="green-btn">FREE Quote</a>
							<%= image_tag "parking.png", :class => "img-front", :width => "263", :height => "436"%>
							<%= image_tag "post-img1.png", :class => "img-mid", :width => "230", :height => "363"%>
							<%= image_tag "img-back.png", :class => "img-back", :width => "195", :height => "304"%>	
						</div>

					</div>
					<div class="pagination"></div>
					<a id="prev" href="#"></a>
					<a id="next" href="#"></a>
				</div>
			</div>
		</header>


		<!-- end of header -->
		<!-- shell -->
		<div class="shell">
			<!-- main -->
			<div class="main">
				<!-- end of cols -->
				<section class="post">
					<%= image_tag "car111.png" %>
					<div class="post-cnt">
						<h2>Yes, that would be the logical choice</h2>
						<p>
							<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit adispicing amet </strong><br />
							Cras molestie condimentum consequat. Nam leo libero, scelerisque tincidunt amet nsectetur adipiscing elit. Cras molestie condimentum nsectetur adipiscing elit. Cras molestie condimentum consequat pretium donec Duis risus elit, imperdiet eget sollicitudin quis, <strong>some of the features:</strong>
						</p>

						<ul>
							<li><a href="#">jQuery Carousel Slideshow</a></li>
							<li><a href="#">Various Column Options</a></li>
							<li><a href="#">Valid XHTML and CSS Tableless Design</a></li>
							<li><a href="#">Tested on Mac &amp; PC</a></li>
						</ul>
					</div>
					<div class="cl">&nbsp;</div>
				</section>

				<section class="content">
					<h2>WHO WE ARE</h2>
					<p>Maecenas vel est sit amet massa dignissim <span>hendrerit</span> sit amet ac ante. Praesent dapibus neque vel enim adipiscing vel feugiat leo luctus. Nulla semper varius nulla, eu euismod turpis volutpat in. Nullam neque diam, facilisis vitae suscipit eu, gravida ut tortor. Duis faucibus lectus nec metus elementum ac <a href="#">adipiscing</a> lorem consectetur. Nulla dui ipsum, <em>iaculis a mollis vel</em>, sodales a ipsum. Nam tincidunt consequat lacus eget imperdiet. Nullam posuere convallis libero, vitae lobortis libero fermentum eu. Ut id venenatis lectus. <strong>Donec eget</strong> quam et dolor facilisis commodo nullam tempor aliquet vulputate phasellus ac libero sed justo luctus vehicula.<br /> <a href="#" class="more">meet the team</a></p>
				</section>

			<!-- end of main -->
		</div>
		<!-- end of shell -->	
		<!-- footer -->
		<div id="footer">
			<!-- shell -->
			<div class="shell">
				<!-- footer-cols -->
				<div class="footer-cols">
					<div class="col">
						<h2>Heading1</h2>
						<ul>
							<li><a href="#">Nullam euismod quam vel</a></li>
							<li><a href="#">Quisque nec lacuss volutpat</a></li>
							<li><a href="#">Aenean bibendum lacus varius </a></li>
							<li><a href="#">Pellentesque sed nulla nec </a></li>
							<li><a href="#">Donec a velit nisi, ac dignissim</a></li>
						</ul>
					</div>

					<div class="col">
						<h2>Heading2</h2>
						<ul>
							<li><a href="#">Quisque nec lacuss volutpat</a></li>
							<li><a href="#">Aenean bibendum lacus varius </a></li>
							<li><a href="#">Nullam euismod quam vel</a></li>
							<li><a href="#">Pellentesque sed nulla nec </a></li>
							<li><a href="#">Donec a velit nisi, ac dignissim </a></li>
						</ul>
					</div>

					<div class="col">
					</div>

					<div class="col">
						<h2>CONTACT us</h2>

						<p>Email: <a href="#">info@websitename.com</a></p>
						<p>Phone: 655-606-605</p>
						<p>Address: East Pixel Bld. 99, </p>
						<p>Template City, 9000</p>
					</div>
					<div class="cl">&nbsp;</div>
				</div>
				<!-- end of footer-cols -->
			</div>
			<!-- end of shell -->
    <div class = "copytext">
    <% if SystemConfig.last.present? && !SystemConfig.last.copytext.empty? %>
    &copy; <%== SystemConfig.last.copytext.to_s %>
    <% else %>
    &copy; This is a copyright text
    <% end %>
  </div>	
		</div>
		<!-- footer -->
	</div>
	<!-- end of wrapper -->	