<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "up" %>
  </div>

  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_area :address1, :class => "up" %>
  </div>
  

  
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_area :address2, :class => "up" %>
  </div>

  
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, :class => "size up" %>
  </div>
  

  
  <div class="field location">
    <%= f.label :state %><br />
    <%= f.text_field :state, :class => "size1 up" %>
  </div>
  
<div class = "clear"></div> 
  
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode, :class => "size up" %>
  </div>
  

  
  <div class="field">
    <%= f.label :phone1 %><br />
    <%= f.text_field :phone1, :class => "up" %>
  </div>
  

  
  <div class="field">
    <%= f.label :phone2 %><br />
    <%= f.text_field :phone2, :class => "up" %>
  </div>
  

  
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website, :class => "up" %>
  </div>
  
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "up" %>
  </div>
  

  
  <div class="field">
    <%= f.label :role %><br />
    <%= f.select :role, options_for_select(%w[Admin Manager]),{}, :class => "up" %>
  </div>
  

  
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, :class => "up" %>
  </div>
  

  
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, :class => "up" %>
  </div>
  

  
  <div class="field">
    <%= f.label :passwordhint %><br />
    <%= f.text_field :passwordhint, :class => "up" %>
  </div>
  

  
  <div class="actions">
    <%= f.submit "Create Customer", :class => "button1"%>
  </div>
  
<% end %>

<script>
  var validator = new FormValidator('new_customer', [{
    name: 'customer[name]',
    display: 'required',    
    rules: 'required'
  }, {
    name: 'customer[address1]',
    rules: 'required'
  },{
    name: 'customer[address2]',
    display: 'required',    
    rules: 'required'
  },{
    name: 'customer[city]',
    display: 'required',    
    rules: 'required'
  },{
    name: 'customer[state]',
    display: 'required',    
    rules: 'required'
  },{
    name: 'customer[zipcode]',
    display: 'required',    
    rules: 'required'
  },{
    name: 'customer[phone1]',
    display: 'required',    
    rules: 'required'
  },{
    name: 'customer[phone2]',
    display: 'required',    
    rules: 'required'
  },{
    name: 'customer[website]',
    display: 'required',    
    rules: 'required'
  },{
    name: 'customer[email]',
    display: 'required',    
    rules: 'required'
  },{
    name: 'customer[role]',
    display: 'required',    
    rules: 'required'
  },{
    name: 'customer[username]',
    display: 'required',    
    rules: 'required'
  },{
    name: 'customer[password]',
    display: 'required',    
    rules: 'required'
  },{
    name: 'customer[passwordhint]',
    display: 'required',    
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
      var colour;
    for (var i=0; i< errors.length; i++)
    {
      colour = errors[i].id;
      $("#"+colour).css("border","2px solid red");
    }
    }  
  });
</script>
