 <h1>Listing customers</h1>
<table border="2">
  <tr>
    <th>Name</th>
    <th>Address1</th>
    <th>Phone1</th>
    <th>Website</th>
    <th>Username</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.address1 %></td>
    <td><%= customer.phone1 %></td>
    <td><%= customer.website %></td>
    <td><%= customer.username %></td>
    <td><%= customer.email %></td>
    <% if params[:flag]=='1'%>
    <td><%= link_to 'Show', customer %></td>
    <% elsif params[:flag]=='3'%>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <% elsif params[:flag]=='2'%>
    <td><%= link_to 'Delete', customer, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
 