<h1>Listing customers</h1>
<!-- <p class="navbar-text pull-right">
<% if customer_signed_in? %>
  <%= link_to 'Edit profile', edit_customer_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_customer_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_customer_session_path, :class => 'navbar-link'  %>
<% end %>
 -->
<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th>Password confirmation</th>
    <th>Remember me</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.email %></td>
    <td><%= customer.password %></td>
    <td><%= customer.password_confirmation %></td>
    <td><%= customer.remember_me %></td>
    <% if params[:flag]=='1'%>
    <td><%= link_to 'Show', customer %></td>
    <% elsif params[:flag]=='3'%>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <% elsif params[:flag]=='2'%>
    <td><%= link_to 'Delete', customer, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<!-- 
<%= link_to 'New Customer', new_customer_path %> -->
