<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Company Name:</b>
  <%= @customer.company_name %>
</p>

<p>
  <b>Company Type:</b>
  <%= @customer.company_type %>
</p>

<p>
  <b>Company Email:</b>
  <%= @customer.company_email %>
</p>

<p>
  <b>Company Phone:</b>
  <%= @customer.company_phone %>
</p>

<p>
  <b>Company Website:</b>
  <%= @customer.company_website %>
</p>

<!-- 
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
 -->