.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user
        Business Managers
    .box-content
      %p
        %b Name:
        = @business_manager.name
      %p
        %b Address1:
        = @business_manager.address1
      %p
        %b Address2:
        = @business_manager.address2
      %p
        %b City:
        = @business_manager.city
      %p
        %b State:
        = @business_manager.state
      %p
        %b Zipcode:
        = @business_manager.zipcode
      %p
        %b Phone1:
        = @business_manager.phone1
      %p
        %b Phone2:
        = @business_manager.phone2
      %p
        %b Website:
        = @business_manager.website
      %p
        %b Email:
        = @business_manager.email
      %p
        %b Role:
        = @business_manager.role
      %p
        %b Username:
        = @business_manager.username
      %p
        %b Passwordhint:
        = @business_manager.passwordhint
