%h1 Listing floors

%table
  %tr
    %th Nickname
    %th Description
    %th Capacity
    %th Occupied
    %th
    %th
    %th

  - @floors.each do |floor|
    %tr
      %td= floor.nickname
      %td= floor.description
      %td= floor.capacity
      %td= floor.occupied
      %td= link_to 'Show', floor
      %td= link_to 'Edit', edit_floor_path(floor)
      %td= link_to 'Destroy', floor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Floor', new_floor_path
