.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        - if params[:location_id].present?
          ="#{Location.find(params[:location_id]).nickname} " + "Floors"
        -else
          Floors
    .box-content
      #tagbar
        .aleft
          = render ("layouts/breadcrumbs")
        .aright
          -if(params[:location_id].present? && current_user.role == "customer" && Change.where(:user_id => "#{current_user.customer.id}").blank?)
            = link_to "<i class=\"icon-plus icon-white\"></i> Add New".html_safe, new_floor_path(:location_id => params[:location_id]), :class => "btn btn-success add"
          -elsif(params[:location_id].present? && current_user.role == "customer" && Floor.where(:location_id => "#{params[:location_id]}", :delflag => "false").count < Change.where(:user_id => "#{current_user.customer.id}").last.floorcapacity)
            = link_to "<i class=\"icon-plus icon-white\"></i> Add New".html_safe, new_floor_path(:location_id => params[:location_id]), :class => "btn btn-success add"
          -if (params[:location_id].present? && current_user.role == "supervisor" && Change.where(:user_id => "#{current_user.parent.customer_id}").blank?)  
            = link_to "<i class=\"icon-plus icon-white\"></i> Add New".html_safe, new_floor_path(:location_id => params[:location_id]), :class => "btn btn-success add"
          -elsif (params[:location_id].present? && current_user.role == "supervisor" && Floor.where(:location_id => "#{params[:location_id]}", :delflag => "false").count  <  Change.where(:user_id => "#{current_user.parent.customer_id}").last.floorcapacity)
            = link_to "<i class=\"icon-plus icon-white\"></i> Add New".html_safe, new_floor_path(:location_id => params[:location_id]), :class => "btn btn-success add"            
          .clear
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Nickname
            %th Capacity
            %th Occupied         
            %th Actions
        - @floors.each do |floor|
          -if params[:id].present?
            -if floor.location_id == params[:id].to_i 
              %tbody
                %tr
                  %td= floor.nickname
                  %td.center= floor.capacity
                  %td.center= floor.occupied
                  %td.center
                    = link_to "<i class=\"icon-zoom-in icon-white\"></i>".html_safe, floor, :class => "btn btn-success"
                    = link_to "<i class=\"icon-edit icon-white\"></i>".html_safe, edit_floor_path(floor), :class => "btn btn-info"
                    = link_to "<i class=\"icon-trash icon-white\"></i>".html_safe, floor, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger"
          -else
            %tbody
              %tr
                %td= floor.nickname
                %td.center= floor.capacity
                %td.center= floor.occupied
                %td.center
                  = link_to "<i class=\"icon-zoom-in icon-white\"></i>".html_safe, floor_path(floor, :location_id => params[:location_id]), :class => "btn btn-success"
                  = link_to "<i class=\"icon-edit icon-white\"></i>".html_safe, edit_floor_path(floor, :location_id => params[:location_id]), :class => "btn btn-info"
                  = link_to "<i class=\"icon-trash icon-white\"></i>".html_safe, floor, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger"
      = will_paginate @floors            