.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-warning-sign.icon-white
        Floors
    .box-content
      .allign1
        .field
          = label_tag "floor"
          = text_field_tag :name, value = nil, :class => "search3"
      .allign1
        .field
          = label_tag "Name"
          = text_field_tag :email, value = nil, :class => "search4"    
      .actions
        = button_tag "Search", :class => "location2"
      %table.table.table-striped.table-bordered.bootstrap-datatable.datatable
        %thead
          %tr
            %th Name
            %th Description
            %th Location
            %th Latitude
            %th Longitude
            %th Actions

          - @floors.each do |floor|
            %tr
              %td= floor.name
              %td.center= floor.description
              %td.center= floor.location
              %td.center= floor.latitude
              %td.center= floor.longitude
              %td.center
                = link_to "<i class=\"icon-zoom-in icon-white\"></i>".html_safe, floor, :class => "btn btn-success"
                = link_to "<i class=\"icon-edit icon-white\"></i>".html_safe, edit_floor_path(floor), :class => "btn btn-info"
                = link_to "<i class=\"icon-trash icon-white\"></i>".html_safe, floor, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger"