%p#notice= notice

%p
  %b Nickname:
  = @floor.nickname
%p
  %b Description:
  = @floor.description
%p
  %b Capacity:
  = @floor.capacity
%p
  %b Occupied:
  = @floor.occupied

= link_to 'Edit', edit_floor_path(@floor)
\|
= link_to 'Back', floors_path
