= form_for @customer_contact do |f|
  - if @customer_contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer_contact.errors.count, "error")} prohibited this customer_contact from being saved:"
      %ul
        - @customer_contact.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name, {:class => 'required'}
    = f.text_field :first_name
  .field
    = f.label :middle_name
    = f.text_field :middle_name
  .field
    = f.label :last_name, {:class => 'required'}
    = f.text_field :last_name
  .field
    = f.label :Company_Name, {:class => 'required'}
    -if "#{params[:customer_id]}".present?
      = f.text_field :customer_id, :value => Customer.where(:id => "#{params[:customer_id]}")[0].company_name, :readonly => true
    -else  
      -if current_user.role == "admin"
        = f.collection_select(:customer_id, Customer.where(:delflag => false), :id, :company_name, { :include_blank => true })
      -else
        = f.collection_select(:customer_id, Customer.where(:user_id => "#{current_user.id}", :delflag => false), :id, :company_name, { :include_blank => true })     
  .field
    = f.label :designation, {:class => 'required'}
    = f.text_field :designation
  .field
    = f.label :phone, {:class => 'required'}
    = f.text_field :phone
  .field
    = f.label :cell, {:class => 'required'}
    = f.text_field :cell
  .field
    = f.label :email, {:class => 'required'}
    = f.text_field :email   
    = hidden_field "id", "customer_id", "value" => "#{params[:customer_id]}"
  .actions
    = f.submit 'Save', {:class => "button1"}
-if params[:id].present?    
  :javascript
    var validator = new FormValidator('edit_customer_contact_#{@customer_contact.id.to_s}', [{
      name: 'customer_contact[first_name]', 
      display:'First Name',   
      rules: 'required'
    }, {
      name: 'customer_contact[last_name]',
      display:'Last Name',
      rules: 'required'
    }, {
      name: 'customer_contact[customer_id]',
      display:'Company Name',
      rules: 'required'
    }, {
      name: 'customer_contact[designation]',
      display:'Designation',
      rules: 'required'
    }, {
      name: 'customer_contact[phone]',
      display:'Phone',
      rules: 'numeric|required'
    }, {
      name: 'customer_contact[cell]',
      display:'Cell',
      rules: 'numeric|required'
    }, {
      name: 'customer_contact[email]',
      display:'Email',
      rules: 'valid_email|required'
    }], function(errors, event) {
      if (errors.length > 0) {
      var temp;
      for (var i=0; i<errors.length; i++){
        temp = errors[i].id;
        $("#" + temp).css("border","1px solid red");
      }
      temp = errors[0].id;
      $( "#" + temp).focus();
      }  
    });   
-else  
  :javascript
    var validator = new FormValidator('new_customer_contact', [{
      name: 'customer_contact[first_name]', 
      display:'First Name',   
      rules: 'required'
    }, {
      name: 'customer_contact[last_name]',
      display:'Last Name',
      rules: 'required'
    }, {
      name: 'customer_contact[customer_id]',
      display:'Company Name',
      rules: 'required'
    }, {
      name: 'customer_contact[designation]',
      display:'Designation',
      rules: 'required'
    }, {
      name: 'customer_contact[phone]',
      display:'Phone',
      rules: 'numeric|required'
    }, {
      name: 'customer_contact[cell]',
      display:'Cell',
      rules: 'numeric|required'
    }, {
      name: 'customer_contact[email]',
      display:'Email',
      rules: 'valid_email|required'
    }], function(errors, event) {
      if (errors.length > 0) {
      var temp;
      for (var i=0; i<errors.length; i++){
        temp = errors[i].id;
        $("#" + temp).css("border","1px solid red");
      }
      temp = errors[0].id;
      $( "#" + temp).focus();
      }  
    });  