.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        - if params[:customer_id].present?
          ="#{Customer.find(params[:customer_id]).company_name} " + "Contacts"
        -else
          Customer Contacts     
    .box-content
      #tagbar
        .aleft
          = render ("layouts/breadcrumbs")
        .aright  
          = link_to "<i class=\"icon-plus icon-white\"></i> Add New".html_safe, new_customer_contact_path(:customer_id => "#{params[:customer_id]}"), :class => "btn btn-success add"
        .clear  
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Name
            %th Designation
            %th Phone
            %th Cell
            %th Email
            %th Actions
        - @customer_contacts.each do |customer_contact|
          -if customer_contact.customer_id == params[:customer_id].to_i
            %tbody
              %tr
                %td= "#{customer_contact.first_name} " + "#{customer_contact.last_name}"
                %td.center= customer_contact.designation
                %td.center= customer_contact.phone
                %td.center= customer_contact.cell
                %td.center= customer_contact.email
                %td.center
                  = link_to "<i class=\"icon-zoom-in icon-white\"></i>".html_safe, customer_contact_path(customer_contact, :customer_id =>"#{params[:customer_id]}"), :class => "btn btn-success"
                  = link_to "<i class=\"icon-edit icon-white\"></i>".html_safe,edit_customer_contact_path(customer_contact, :customer_id => "#{params[:customer_id]}"), :class => "btn btn-info"
                  = link_to "<i class=\"icon-trash icon-white\"></i>".html_safe, customer_contact, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger"            
      = will_paginate @customer_contacts            