= form_for @vehicle do |f|
  - if @vehicle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vehicle.errors.count, "error")} prohibited this vehicle from being saved:"
      %ul
        - @vehicle.errors.full_messages.each do |msg|
          %li= msg

          

  .field
    = f.label :plate_number
    = f.text_field :platenumber
  .field
    = f.label :first_name
    = f.text_field :driver_first_name
  .field
    = f.label :middle_name
    = f.text_field :driver_middle_name
  .field
    = f.label :last_name
    = f.text_field :driver_last_name
  .field
    = f.label :organization
    -if current_user.role == "customer"
      = f.collection_select(:user_id, Organization.all, :id, :company_name)
    -else
      = f.collection_select(:user_id, Organization.where(:user_id => "#{current_user.id}") + Organization.where(:user_id => "#{current_user.parent.id}"), :id, :company_name)
    = f.collection_select(:organization_id, Organization.all, :id, :company_name)  
  .field
    = f.label :permit_date
    = f.date_select :permit_date
  .field
    = f.label :expiry_date
    = f.date_select :expiry_date
  .field
    = f.label :badge_number
    = f.text_field :badge_number
  .field
    = f.label :visitor
    = f.check_box :visitor
  .actions
    = f.submit 'Create Vehicle', {:class => "button1"}


:javascript
  var validator = new FormValidator('new_vehicle', [{
    name: 'vehicle[platenumber]',    
    rules: 'required'
  }, {
    name: 'vehicle[driver_first_name]',
    rules: 'required'
  }, {
    name: 'vehicle[driver_middle_name]',
    rules: 'required'
  }, {
    name: 'vehicle[driver_last_name]',
    rules: 'required'
  }, {
    name: 'vehicle[permit_date]',
    rules: 'required'
  }, {
    name: 'vehicle[badge_number]',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","2px solid red");
    }
    }  
  });  