= form_for @vehicle do |f|
  - if @vehicle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vehicle.errors.count, "error")} prohibited this vehicle from being saved:"
      %ul
        - @vehicle.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :platenumber
    = f.text_field :platenumber
  .field
    = f.label :driver_first_name
    = f.text_field :driver_first_name
  .field
    = f.label :driver_middle_name
    = f.text_field :driver_middle_name
  .field
    = f.label :driver_last_name
    = f.text_field :driver_last_name
  .field
    = f.label :permit_date
    = f.date_select :permit_date
  .field
    = f.label :expiry_date
    = f.date_select :expiry_date
  .field
    = f.label :badge_number
    = f.text_field :badge_number
  .field
    = f.label :visitor
    = f.check_box :visitor
  .actions
    = f.submit 'Save'
