= form_for @vehicle do |f|
  - if @vehicle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vehicle.errors.count, "error")} prohibited this vehicle from being saved:"
      %ul
        - @vehicle.errors.full_messages.each do |msg|
          %li= msg

          

  .field
    = f.label :plate_number, {:class => "required"}
    = f.text_field :platenumber
  .field
    = f.label :first_name
    = f.text_field :driver_first_name
  .field
    = f.label :middle_name
    = f.text_field :driver_middle_name
  .field
    = f.label :last_name
    = f.text_field :driver_last_name
  .field
    = f.label :organization, {:class =>"required"}
    -if current_user.role == "customer"
      = f.collection_select(:organization_id, Organization.where(:delflag => false, :user_id => "#{current_user.id}"), :id, :company_name, { :include_blank => true })
    -else
      = f.collection_select(:organization_id, Organization.where(:user_id => "#{current_user.id}", :delflag => false) + Organization.where(:user_id => "#{current_user.parent_id}", :delflag => false), :id, :company_name, { :include_blank => true })  
  .field
    = f.label :permit_date
    = f.date_select :permit_date
  .field
    = f.label :expiry_date
    = f.date_select :expiry_date
  .field
    = f.label :badge_number
    = f.text_field :badge_number
  .field
    = f.label :visitor
    %label{title: "Red"}
      %input{name: "vehicle[visitor]", type: "radio", value: "Red"}
      Red
    %label{title: "Green"}
      %input{name: "vehicle[visitor]", type: "radio", value: "Green"}
      Green
    %label{title: "Blue"}
      %input{name: "vehicle[visitor]", type: "radio", value: "Blue"}
      Blue
    .clear
  .actions
    = f.submit 'Create Vehicle', {:class => "button1"}


:javascript
  var validator = new FormValidator('new_vehicle', [{
    name: 'vehicle[platenumber]',    
    rules: 'required'
  },{
    name: 'vehicle[organization_id]',    
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","2px solid red");
    }
    }  
  }); 

