= form_for @vehicle do |f|
  - if @vehicle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vehicle.errors.count, "error")} prohibited this vehicle from being saved:"
      %ul
        - @vehicle.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :plate_number, {:class => "required"}
    = f.text_field :platenumber
  .field
    = f.label :driver_first_name
    = f.text_field :driver_first_name
  .field
    = f.label :driver_middle_name
    = f.text_field :driver_middle_name
  .field
    = f.label :driver_last_name
    = f.text_field :driver_last_name
  .field
    = f.label :organization
    -if current_user.role == "customer"
      = f.collection_select(:organization_id, Organization.where(:delflag => false, :user_id => "#{current_user.id}"), :id, :company_name, { :include_blank => true })
    -else
      = f.collection_select(:organization_id, Organization.where(:user_id => "#{current_user.id}", :delflag => false) + Organization.where(:user_id => "#{current_user.parent_id}", :delflag => false), :id, :company_name, { :include_blank => true })  
  .field
    = f.label :permit_date
    = f.date_select :permit_date
  .field
    = f.label :expiry_date
    = f.date_select :expiry_date
  .field
    = f.label :badge_number
    = f.text_field :badge_number
  .field
    = f.label :visitor
    %label{title: "Yes"}
      = f.radio_button :visitor, "Yes"
      Yes
    %label{title: "No"}
      = f.radio_button :visitor, "No"
      No   
  .actions
    = f.submit 'Save', {:class => "button1"}

-if params[:id].present?
  :javascript
    var validator = new FormValidator('edit_vehicle_#{@vehicle.id.to_s}', [{
      name: 'vehicle[platenumber]',  
      display:'Plate Number',  
      rules: 'required'
    }], function(errors, event) {
      if (errors.length > 0) {
      var temp;
      $(":text").each(function(){
        $(this).css("border","#cccccc 1px solid");      
      });
      for (var i=0; i<errors.length; i++){
        temp = errors[i].id;
        $("#" + temp).css("border","1px solid red");
      }
      temp = errors[0].id;
      $( "#" + temp).focus();
      }  
    }); 
-else
  :javascript
    var validator = new FormValidator('new_vehicle', [{
      name: 'vehicle[platenumber]',  
      display:'Plate Number',  
      rules: 'required'
    },{
      name: 'vehicle[organization_id]',
      display:'Organization',    
      rules: 'required'
    }], function(errors, event) {
      if (errors.length > 0) {
      var temp;
      $(":text").each(function(){
          $(this).css("border","#cccccc 1px solid");      
        });
      for (var i=0; i<errors.length; i++){
        temp = errors[i].id;
        $("#" + temp).css("border","1px solid red");
      }
      temp = errors[0].id;
      $( "#" + temp).focus();
      }  
    }); 

