= form_for @vehicle_history, :url => "/vehicles/track_create", :method =>"post" do |f|
  - if @vehicle_history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vehicle_history.errors.count, "error")} prohibited this record from being saved:"
      %ul
        - @vehicle_history.errors.full_messages.each do |msg|
          %li= msg               
  .field.allign
    = f.label :plate_number, {:class => "required"} 
    = f.text_field :platenumber, {:class => "size"} 
    = f.hidden_field :vehicle_id 
  .field.allign
    = f.label :floor, {:class => "required"}
    - if current_user.parent.parent.present?
      = f.collection_select(:floor_id, Floor.where(:delflag => false, :user_id => "#{current_user.parent_id}") + Floor.where(:delflag => false, :user_id => "#{current_user.parent.parent_id}"), :id, :nickname, {}, :class => "size2")
    -else   
      = f.collection_select(:floor_id, Floor.where(:delflag => false, :user_id => "#{current_user.parent_id}"), :id, :nickname, {}, :class => "size2")

  .field.allign
    = f.label :location, {:class => "required"}
    - if current_user.parent.parent.present?
      = f.collection_select(:location_id, Location.where(:delflag => false, :user_id => "#{current_user.parent_id}") + Location.where(:delflag => false, :user_id => "#{current_user.parent.parent_id}"), :id, :nickname, {}, :class => "size2")
    -else   
      = f.collection_select(:location_id, Location.where(:delflag => false, :user_id => "#{current_user.parent_id}"), :id, :nickname, {}, :class => "size2")     
  .clear
  .field.allign
    = f.label :remarks
    = f.text_field :remarks 
  .field.allign
    = f.label :slot, {:class => "required"}
    = f.text_field :slot, {:class => "size"} 
  .clear  
  .field.allign
    = f.label :flag
    %label{title: "Red"}
      %input{name: "vehicle_history[flag]", type: "radio", value: "Red"}
      Red
    %label{title: "Yellow"}
      %input{name: "vehicle_history[flag]", type: "radio", value: "Yellow"}
      Yellow  
    %label{title: "Green"}
      %input{name: "vehicle_history[flag]", type: "radio", value: "Green"}
      Green
    .clear    
  .actions
    = f.submit 'Save', {:class => "button2 push"}

:javascript
  var validator = new FormValidator('new_vehicle_history', [{
    name: 'vehicle_history[platenumber]',
    display:'Plate Number',    
    rules: 'required'
  },{
    name: 'vehicle_history[slot]',
    display:'Slot',
    rules: 'required'
  },{
    name: 'vehicle_history[location_id]',
    display:'Location',
    rules: 'required'
  },{
    name: 'vehicle_history[floor_id]',
    display:'Floor',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    $(":text").each(function(){
        $(this).css("border","#cccccc 1px solid");      
      });
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","1px solid red");
    }
    temp = errors[0].id;
    $( "#" + temp).focus();
    }  
  });     

  $(function() {
    $( "#vehicle_history_platenumber" ).autocomplete({
      source: '#{autocomplete_vehicles_path(:json)}',
      minLength: 2,
      focus: function(event, ui) {
    $('#vehicle_history_platenumber').val(ui.item.platenumber);
      return false;
    },
    select: function(event, ui) {
      $('#vehicle_history_platenumber').val(ui.item.platenumber);
      $('#vehicle_history_vehicle_id').val(ui.item.id);
        return false;
          }
        })
      .data( "autocomplete" )._renderItem = function( ul, item ) {
        console.log(item);
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.platenumber + "</a>" )
                .appendTo( ul );
        };    
  $( "#search_platenumber_equals" ).autocomplete({
      source: '#{autocomplete_vehicles_path(:json)}',
      minLength: 2,
      focus: function(event, ui) {
    $('#search_platenumber_equals').val(ui.item.platenumber);
      return false;
    },
    select: function(event, ui) {
      $('#search_platenumber_equals').val(ui.item.platenumber);
      $('#vehicle_history_vehicle_id').val(ui.item.id);
        return false;
          }
        })
      .data( "autocomplete" )._renderItem = function( ul, item ) {
        console.log(item);
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.platenumber + "</a>" )
                .appendTo( ul );
        };        
    });
:css
  .button2{
    margin-top:25px;
    margin-left:115px;
  }    
