= form_for Vehicle.new, :url => create_vehicles_vehicles_path do |f|
  .field.allign
    = f.label :plate_number, {:class => "required"}
    = f.text_field :platenumber, {:class => "size"}
  .field.allign
    = f.label :driver_first_name
    = f.text_field :driver_first_name, {:class => "size"}
  .field.allign
    = f.label :driver_middle_name
    = f.text_field :driver_middle_name, {:class => "size"}
  .clear  
  .field.allign
    = f.label :driver_last_name
    = f.text_field :driver_last_name, {:class => "size"}
  .field.allign
    = f.label :organization
    -if current_user.role == "customer"
      = f.collection_select(:organization_id, Organization.where(:user_id => "#{current_user.id}", :delflag => false)  , :id, :company_name, {}, :class => "size2")
    -elsif current_user.role == "supervisor"
      = f.collection_select(:organization_id, Organization.where(:user_id => "#{current_user.parent_id}", :delflag => false) + Organization.where(:user_id => "#{current_user.id}", :delflag => false), :id, :company_name, {}, :class => "size2")  
    -else
      = f.collection_select(:organization_id, Organization.where(:user_id => "#{current_user.parent_id}", :delflag => false) + Organization.where(:user_id => "#{current_user.parent.parent_id}", :delflag => false)  , :id, :company_name, {}, :class => "size2")    
  .clear
  .field.allign
    = f.label :permit_date
    = f.date_select :permit_date, {}, :class => "size2"  
  .field.allign
    = f.label :expiry_date
    = f.date_select :expiry_date, {}, :class => "size2"
  .field.allign
    = f.label :badge_number
    = f.text_field :badge_number, {:class => "size"}
    .clear  
  .actions
    = f.submit 'Save', {:class => "button1"}


:javascript
  var validator = new FormValidator('new_vehicle', [{
    name: 'vehicle[platenumber]', 
    display:'Plate Number',   
    rules: 'required'
  },{
    name: 'vehicle[organization_id]',
    display:'Organization',    
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    $(":text").each(function(){
        $(this).css("border","#cccccc 1px solid");      
      });
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","1px solid red");
    }
    temp = errors[0].id;
    $( "#" + temp).focus();
    }  
  });  
