%h1 Listing vehicles

%table
  %tr
    %th Platenumber
    %th Driver first name
    %th Driver middle name
    %th Driver last name
    %th Permit date
    %th Expiry date
    %th Badge number
    %th Visitor
    %th
    %th
    %th

  - @vehicles.each do |vehicle|
    %tr
      %td= vehicle.platenumber
      %td= vehicle.driver_first_name
      %td= vehicle.driver_middle_name
      %td= vehicle.driver_last_name
      %td= vehicle.permit_date
      %td= vehicle.expiry_date
      %td= vehicle.badge_number
      %td= vehicle.visitor
      %td= link_to 'Show', vehicle
      %td= link_to 'Edit', edit_vehicle_path(vehicle)
      %td= link_to 'Destroy', vehicle, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Vehicle', new_vehicle_path
