.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-warning-sign.icon-white
        Vehicles
    .box-content
      #tagbar
        .aleft
          = render ("layouts/breadcrumbs")
        .aright
          = link_to "<i class=\"icon-plus icon-white\"></i> Add New".html_safe, new_vehicle_path, :class => "btn btn-success add"
          .clear
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Plate Number
            %th Name
            %th Permit Date
            %th Expiry Date
            %th Badge Number
            %th Organization            
            %th Actions
        - @vehicles.each do |vehicle|
          %tbody
            %tr
              %td= vehicle.platenumber
              %td.center= "#{vehicle.driver_first_name} "+"#{vehicle.driver_last_name}" 
              %td.center= vehicle.permit_date
              %td.center= vehicle.expiry_date
              %td.center= vehicle.badge_number
              %td.center= vehicle.organization.company_name
              %td.center
                = link_to "<i class=\"icon-zoom-in icon-white\"></i>".html_safe, vehicle, :class => "btn btn-success"
                = link_to "<i class=\"icon-edit icon-white\"></i>".html_safe, edit_vehicle_path(vehicle), :class => "btn btn-info"
                = link_to "<i class=\"icon-trash icon-white\"></i>".html_safe, vehicle, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger"
      = will_paginate @vehicles          