%p#notice= notice

%p
  %b Vehicle name:
  = @vehicle.vehicle_name
%p
  %b Registration number:
  = @vehicle.badge_number
%p
  %b Driver:
  = @vehicle.organization
%p
  %b Floor:
  = @vehicle.first_name
%p
  %b Slot:
  = @vehicle.last_name

