%p#notice= notice

%p
  %b Platenumber:
  = @vehicle.platenumber
%p
  %b Driver first name:
  = @vehicle.driver_first_name
%p
  %b Driver middle name:
  = @vehicle.driver_middle_name
%p
  %b Driver last name:
  = @vehicle.driver_last_name
%p
  %b Permit date:
  = @vehicle.permit_date
%p
  %b Expiry date:
  = @vehicle.expiry_date
%p
  %b Badge number:
  = @vehicle.badge_number
%p
  %b Visitor:
  = @vehicle.visitor

= link_to 'Edit', edit_vehicle_path(@vehicle)
\|
= link_to 'Back', vehicles_path
