= form_for @organization do |f|
  - if @organization.errors.any?
    #error_explanation
      %h2= "#{pluralize(@organization.errors.count, "error")} prohibited this organization from being saved:"
      %ul
        - @organization.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :organization_name, {:class => 'required'}
    = f.text_field :company_name
  .field
    = f.label :address1, {:class => 'required'}
    = f.text_field :address1
  .field
    = f.label :address2
    = f.text_field :address2
  .field
    = f.label :city, {:class => 'required'}
    = f.text_field :city  
  .field
    = f.label :state, {:class => 'required'}
    = f.text_field :state
  .field
    = f.label :zipcode, {:class => 'required'}
    = f.text_field :zipcode
  .field
    = f.label :phone1, {:class => 'required'}
    = f.text_field :phone1
  .field
    = f.label :phone2
    = f.text_field :phone2
  .field
    = f.label :web
    = f.text_field :web
  .field
    = f.label :email, {:class => 'required'}
    = f.email_field :email
  .actions
    = f.submit 'Save', {:class => "button1"}

:javascript
  var validator = new FormValidator('new_organization', [{
    name: 'organization[company_name]',    
    rules: 'required'
  }, {
    name: 'organization[address1]',
    rules: 'required'
  }, {
    name: 'organization[city]',
    rules: 'required'
  }, {
    name: 'organization[state]',
    rules: 'required'
  }, {
    name: 'organization[zipcode]',
    rules: 'required|numeric'
  }, {
    name: 'organization[phone1]',
    rules: 'required|numeric'
  }, {
    name: 'organization[email]',
    rules: 'required|valid_email'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","1px solid red");
    }
    temp = errors[0].id;
    $( "#" + temp).focus();
    }  
  });