%p#notice= notice

%p
  %b Nickname:
  = @location.nickname
%p
  %b Description:
  = @location.description
%p
  %b Address1:
  = @location.address1
%p
  %b Address2:
  = @location.address2
%p
  %b State:
  = @location.state
%p
  %b Zipcode:
  = @location.zipcode
%p
  %b Phone1:
  = @location.phone1
%p
  %b Phone2:
  = @location.phone2
%p
  %b Web:
  = @location.web
%p
  %b Email:
  = @location.email

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
