<!DOCTYPE html>
<html>
<head>
  <title>VLTS</title>

  <!-- 
  <%= stylesheet_link_tag "bootstrap-classic.css" %>
  <%= stylesheet_link_tag "bootstrap-cyborg.css" %>
  <%= stylesheet_link_tag "bootstrap-journal.css" %>
  <%= stylesheet_link_tag "bootstrap-redy.css" %>
  <%= stylesheet_link_tag "bootstrap-simplex.css" %>
  <%= stylesheet_link_tag "bootstrap-slate.css" %>
  <%= stylesheet_link_tag "bootstrap-spacelab.css" %>
  <%= stylesheet_link_tag "bootstrap-united.css" %> -->
  
  <%= stylesheet_link_tag "bootstrap-simplex.css" %>
  <%= stylesheet_link_tag "bootstrap-responsive.css" %>
  <%= stylesheet_link_tag "charisma-app.css" %> 
  <%= stylesheet_link_tag "jquery-ui-1.8.21.custom.css" %>
  <%= stylesheet_link_tag "fullcalendar.css" %>
  <%= stylesheet_link_tag "fullcalendar.print.css" %>
  <%= stylesheet_link_tag "chosen.css" %>
  <%= stylesheet_link_tag "uniform.default.css" %>
  <%= stylesheet_link_tag "colorbox.css" %>
  <%= stylesheet_link_tag "jquery.cleditor.css" %>
  <%= stylesheet_link_tag "jquery.noty.css" %>
  <%= stylesheet_link_tag "noty_theme_default.css" %>
  <%= stylesheet_link_tag "elfinder.min.css" %>
  <%= stylesheet_link_tag "elfinder.theme.css" %>
  <%= stylesheet_link_tag "jquery.iphone.toggle.css" %>
  <%= stylesheet_link_tag "opa-icons.css" %>
  <%= stylesheet_link_tag "uploadify.css" %>
  <%= stylesheet_link_tag "style.css" %>
  <%= javascript_include_tag "application" %><!-- 
  <%= javascript_include_tag "highcharts.js" %>   -->
  <%= javascript_include_tag "validate.min.js" %>
  <%=javascript_include_tag "autocomplete-rails.js"%>
  <%= csrf_meta_tags %>
  <!--
    Charisma v1.0.0

    Copyright 2012 Muhammad Usman
    Licensed under the Apache License v2.0
    http://www.apache.org/licenses/LICENSE-2.0

    http://usman.it
    http://twitter.com/halalit_usman
  -->
  <style type="text/css">
    body {
    padding-bottom: 40px;
    }
    .sidebar-nav {
    padding: 9px 0;
    }
  </style>

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


<body>
  
<% if current_user.present? && current_user.role == "admin" %> 
  <%= render "users/adminsidebar" %>
<% elsif current_user.present? && current_user.role == "support" %> 
  <%= render "users/supportsidebar" %>
<% elsif current_user.present? && current_user.role == "customer" %> 
  <%= render "users/customersidebar" %> 
<% elsif current_user.present? && current_user.role == "supervisor" %> 
  <%= render "users/supervisorsidebar" %>
<% elsif current_user.present? && current_user.role == "user" %> 
  <%= render "users/usersidebar" %>      
<%end%>
<div id="content" class="span10">
  <%= yield %>
</div>
<div class="clear"></div>
</div>
</div>
<div class="navbar-inner footer">
  <div class="container-fluid1">
    <div class = "copytext">
    <% if Logo.last.present? && !Logo.last.copytext.empty? %>
    &copy; <%== Logo.last.copytext.to_s %>
    <% else %>
    &copy; This is a copyright text
    <% end %>
  </div>
</div>

  <!-- jQuery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"></style>
  <%= javascript_include_tag "jquery-1.7.2.min.js" %>
  <!-- jQuery UI -->
  <%= javascript_include_tag "jquery-ui-1.8.21.custom.min.js" %>
  <!-- transition / effect library -->
  <%= javascript_include_tag "bootstrap-transition.js" %>
  <!-- alert enhancer library -->
  <%= javascript_include_tag "bootstrap-alert.js" %>
  <!-- modal / dialog library -->
  <%= javascript_include_tag "bootstrap-modal.js" %>
  <!-- custom dropdown library -->
  <%= javascript_include_tag "bootstrap-dropdown.js" %>
  <!-- scrolspy library -->
  <%= javascript_include_tag "bootstrap-scrollspy.js" %>
  <!-- library for creating tabs -->
  <%= javascript_include_tag "bootstrap-tab.js" %>
  <!-- library for advanced tooltip -->
  <%= javascript_include_tag "bootstrap-tooltip.js" %>
  <!-- popover effect library -->
  <%= javascript_include_tag "bootstrap-popover.js" %>
  <!-- button enhancer library -->
  <%= javascript_include_tag "bootstrap-button.js" %>
  <!-- accordion library (optional, not used in demo) -->
  <%= javascript_include_tag "bootstrap-collapse.js" %>
  <!-- carousel slideshow library (optional, not used in demo) -->
  <%= javascript_include_tag "bootstrap-carousel.js" %>
  <!-- autocomplete library -->
  <%= javascript_include_tag "bootstrap-typeahead.js" %>
  <!-- tour library -->
  <%= javascript_include_tag "bootstrap-tour.js" %>
  <!-- library for cookie management -->
  <%= javascript_include_tag "jquery.cookie.js" %>
  <!-- calander plugin -->
  <%= javascript_include_tag "fullcalendar.min.js" %>
  <!-- data table plugin -->
  <%= javascript_include_tag "jquery.dataTables.min.js" %>

  <!-- chart libraries start -->
  <%= javascript_include_tag "excanvas.js" %>
  <%= javascript_include_tag "jquery.flot.min.js" %>
  <%= javascript_include_tag "jquery.flot.pie.min.js" %>
  <%= javascript_include_tag "jquery.flot.stack.js" %>
  <%= javascript_include_tag "jquery.flot.resize.min.js" %>
  <!-- chart libraries end -->

  <!-- select or dropdown enhancer -->
  <%= javascript_include_tag "jquery.chosen.min.js" %>
  <!-- checkbox, radio, and file input styler -->
  <%= javascript_include_tag "jquery.uniform.min.js" %>
  <!-- plugin for gallery image view -->
  <%= javascript_include_tag "jquery.colorbox.min.js" %>
  <!-- rich text editor library -->
  <%= javascript_include_tag "jquery.cleditor.min.js" %>
  <!-- notification plugin -->
  <%= javascript_include_tag "jquery.noty.js" %>
  <!-- file manager library -->
  <%= javascript_include_tag "jquery.elfinder.min.js" %>
  <!-- star rating plugin -->
  <%= javascript_include_tag "jquery.raty.min.js" %>
  <!-- for iOS style toggle switch -->
  <%= javascript_include_tag "jquery.iphone.toggle.js" %>
  <!-- autogrowing textarea plugin -->
  <%= javascript_include_tag "jquery.autogrow-textarea.js" %>
  <!-- multiple file upload plugin -->
  <%= javascript_include_tag "jquery.uploadify-3.1.min.js" %>
  <!-- history.js for cross-browser state change on ajax -->
  <%= javascript_include_tag "jquery.history.js" %>
  <!-- application script for Charisma demo -->
  <%= javascript_include_tag "charisma.js" %>

</body>
</html>
