<!DOCTYPE html>
<html>
<head>
  <title>Site</title>

  <%= stylesheet_link_tag "style1.css" %>
  <link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Jura:400,500,600,300' rel='stylesheet' type='text/css' />
  <%= javascript_include_tag "application" %>

	<%= javascript_include_tag "jquery-1.8.0.min.js" %>
	<%= javascript_include_tag "jquery.touchwipe.1.1.1.js" %>
	<%= javascript_include_tag "jquery.carouFredSel-5.5.0-packed.js" %>
  <%= javascript_include_tag "validate.min.js" %>
	<%= javascript_include_tag "functions.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= yield %>

</body>
</html>